doctype
html
  head
    meta(charset="utf-8")
  body
    #app
      #header
        a(href="/") Home
        a(href="/page/1") Page 1
        a(href="/page/2") Page 2
        a(href="/page/3") Page 3
      #main
    script(src="/main.js")
